.sc4540588 {
  Font: 8pt Arial;
  border: 0px;
  text-align: center;
  vertical-align: top;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
  padding-left: 8%;
  padding-right: 2%;
  padding-bottom: 0%;
  
}

.s87c8a8b6 {
  Font: bold 10pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: top;
  line-height: 1.15em;
}

.s550ec40c {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: top;
  line-height: 1.15em;
  color: black;
}

.s61cbe606 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
}

.s84d420c8 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}

.s1579f179 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: top;
  color: black;
  line-height: 1.15em;
}

.s4f59b719 {
  Font: 8pt Arial;
  border: 0px;
  border-bottom-color: #404040;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s3a819c33 {
  Font: 8pt Arial;
  border: 0px;
  border-top-color: #404040;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s33a089c8 {
  Font: 7pt Tahoma;
  border: 0px;
  color: black;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s691903aa {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
  color: black;
}

.s4ebad4a7 {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sc1e34f53 {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:Black;
}

.s9eb57ab3 {
  Font: 8pt Arial;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s9eb57ab3p {
  Font: 9pt Arial;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  
  
}

.sa0970aad {
  Font: 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s1158b399 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  color: black;
  line-height: 1.15em;
}

.s8f28c6cd {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
}

.da {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color: black !important;
}

.s26c44675 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
    color: black;
 
}

.s0edaef51 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: top;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s34782d8f {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
}



.s34782d8faa {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
}



.s39bcea99 {
  Font: 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}

.s4d750f9a {
  Font: 8pt Arial;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}

.s9e439eca {
  Font: 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
}

.s86e7fc0a {
  Font: 8pt Arial;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
}

.scce78ed5 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
  font-weight: 400;
}

.se2005964 {
  Font: bold 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}

.sace2ea46 {
  Font: bold 9pt Arial;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
    color: black;

}

.sd8c074ba {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}

.sc176b8a1 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
}

.s3ffd6b1a {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
}

.sf45af8a7 {
  background-color: White;
  Font: 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s27c1f5d0 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: solid;
  color: black;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}


.s27c1f5d0 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: solid;
  color: black;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}

.s808e9652 {
  Font: bold 7pt Tahoma;
  border: 0px;
  color: black;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}

.s93c6faeb {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
}

.sb8420db3 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}




/*-------------------------------------------- Optical Reciept ---------------------------------------------*/


.sd1b59cd6 {
  Font: 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sbf87b402 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  padding-right: 42px;
  vertical-align: middle;
  line-height: 1.15em;
  padding-right: 80px;
  color:black;
}

.s8c1b75cc {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.sa8f04231 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sa8f04231a {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
  
}
.sa8f0423aaa1 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}




.sa8f04231a {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}



.sa8f04231b {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  padding-right: 10px;

  color:black;
}



.sa8f04231c {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: right;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}


.sed9f879c {
  Font: 9pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s3bdb7461 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.s1de10476 {
  Font: 9pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.s7905a61f {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
  color:black;
}

.se96cc905 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s4f07f2ee {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
  color:black;
}

.s1a09a09a {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.secfc5b25 {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.s0969eca8 {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.s6d3326b8 {
  Font: 8pt Arial;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sc91c0f9c {
  Font: 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sd4e9fc97 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s90def75a {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s0c91381a {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sd6cbf850 {
  Font: 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s9d52418f {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: right;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s0396f2e6 {
  Font: 8pt Arial;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sb811882a {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.s23aeb3e1 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.sd43b68da {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.se744cb02 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: bottom;
  line-height: 1.15em;
  color:black;
}

.sc4d961cc {
  Font: 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s40ecdf76 {
  Font: 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s0451b4ea {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s0922e4a1 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s03288298 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sa10182a2 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s0ed61093 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: top;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.sb2dbfe4e {
  Font: 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  
  color:black;
}

.sb2dbfe4eab {
  Font: 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  padding-right: 10px;
  color:black;
  
  
}



.sb2dbfe4eabc {
  Font: 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  padding-right: 10px;
  color:black;
}


.sb2dbfe4ea {
  Font: 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  padding-right: 10px;
  color:black;
}

.s6e406f0a {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color:black;
}

.s45085224 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.sf4d5c7ac {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.s3f638c96 {
  Font: 8pt Arial;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
}

.s56d8bf6b {
  Font: 7pt Arial;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
}

.sd3787b66 {
  background-color: White;
  Font: 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
  color: black;
}


.sf2dd2e16 {
  Font: 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s4fa4c76d {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
}

.s43ac6a7d {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
}

.s59c85bcb {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sb168261c {
  Font: 9pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s389f0063 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
}

.s4269aa81 {
  Font: 9pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
}

.s844e672c {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
color: black;
}

.s8a88007d {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sace7ed32 {
  Font: bold 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
}

.s229be3d5 {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
  word-wrap: break-word;
}

.sa68dfb25 {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  padding-right: 25px;
  line-height: 1.15em;
  color: black;
}

.s6d4f69ab {
  Font: 7pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black;
}

.sa1c79217 {
  Font: 8pt Arial;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sbf737a5b {
  Font: 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s3c782b14 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sb0b0aa68 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s7fac9709 {
  Font: bold 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s1daa4eb7 {
  Font: 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.scda572f2 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.saafc65f2 {
  Font: 8pt Arial;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s172d702a {
  Font: bold 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
}

.s2703d6f9 {
  Font: bold 8pt Arial;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
}

.sa9929a0f {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  color:black
}

.s72bf31c2 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
  
}

.s72bf31c2a {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
  color: black;
  
}

.sf5b75bdf {
  Font: 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s952a681f {
  Font: 8pt Tahoma;
  border: 0px;
  border-top-color: Black;
  border-top-style: dashed;
  border-top-width: 1px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s83ed1922 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sd8d3fc5a {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s50d058c8 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.sba07837c {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s9dfc96e7 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1.15em;
  word-wrap: break-word;
}

.se1fedd30 {
  Font: 8pt Tahoma;
  border: 0px;
  border-bottom-color: Black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
}

.sa378394b {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: right;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}

.s0ceec274 {
  Font: 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}

.s62efed45 {
  Font: bold 8pt Tahoma;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}

.sfd91e8a6 {
  Font: 8pt Arial;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}

.s0a970cda {
  Font: 7pt Arial;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15em;
}

.s1ecbc405 {
  background-color: White;
  Font: 8pt Arial;
  border: 0px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.15em;
  word-wrap: break-word;
}